<md-toolbar class="md-theme-indigo" layout="row" layout-align="center center">

  <section flex layout="row" layout-align="start center">
      <img src="/assets/images/companyName.svg" id="title"></div>
  </section>

  <section flex layout="row" layout-align="end center" hide-sm>
    <md-button href="#">Home</md-button>
    <md-button href="#">About</md-button>
    <md-button href="#">Projects</md-button>
    <md-button href="#">Services</md-button>
    <md-button href="#">Contact</md-button>
  </section>

</md-toolbar>
