<div layout="vertical" layout-fill>

  <md-content layout-fill>
    <header>
      <acme-navbar />
    </header>

    <section class="jumbotron">
      <p>
        Is it time to remodel your <acme-malarkey extra-values="['Kitchen ?', 'House ?', 'Bathroom ?', 'Deck ?']" />
      </p>
    </section>
    <div layout-padding>
      <h2>Recent Projects</h2>
      <div class="techs" layout-align="center">
        <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'" flex-sm="90" >
          <div class="thumbnail" layout="row" layout-align="center">
            <img ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}" >
          </div>
          <h3 class="lime" layout-padding style="margin:0;">{{ awesomeThing.title }}</h3>
            <div class="caption" layout-padding>
              <p>{{ awesomeThing.description }}</p>
              <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
            </div>
        </md-card>
      </div>
    </div>
  </md-content>

</div>
