.acme-malarkey {
  text-transform: capitalize;
  color: #0D47A1;

  &:after {
    animation: cursor-blink 0.4s linear infinite;
    content: "|";
    color: #0D47A1;
  }
}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
