/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

$blue: #0D47A1;
$lime: #CDDC39;
$grey: #9E9E9E;
$lt-grey: #E0E0E0;
$dk-grey: #424242;

html{
  font-family: 'Roboto', serif;
}

a.md-button {
  font-family: Roboto;
  font-weight: 700;
  border-radius: 0;
}


[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.lime {
  background: $lime;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

header {
  border-bottom: 3px solid $grey;
  .md-button {
    margin:0;
    color: #fff;
  }
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  min-height: 400px;
  background-color: $lt-grey;
  background: url('/assets/images/model-house.jpg') no-repeat top center;
  background-size: cover;
  text-align: center;

  color: $dk-grey;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

$logo-width: 190px;
#title {
  width: $logo-width;
  margin: 5px 20px;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
